name: HACS Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  hacs:
    name: HACS Action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run HACS validation
        uses: hacs/action@main
        with:
          category: plugin
